 <ul class="country-card">
        <li class="country-title">
            <img src="{{flags.svg}}" alt="" width="45px" height="30px">
          <h1 class="country-title-name">{{name}}</h1>
         
        </li>
        <li class="country-capital">
          <p class="property-title">Capital: </p>
          <p>{{capital}}</p>
        </li>
        <li class="country-population">
          <p class="property-title">Population: </p>
          <p>{{population}}</p>
        </li>
        <li class="country-languages">
          <p class="property-title">Languages: </p>
          <p>{{languages}}</p>
        </li>
      </ul>